{% extends "base.html" %}

{% block content %}

<h1>Neues Rezept</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.recipename.label }}<br>
        {{ form.recipename }}<br>
        {% for error in form.recipename.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ingredient1.label }}<br>
        {{ form.ingredient1 }}<br>
        {% for error in form.ingredient1.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ingredient1_amount.label }}<br>
        {{ form.ingredient1_amount }}<br>
        {% for error in form.ingredient1_amount.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ingredient1_unit.label }}<br>
        {{ form.ingredient1_unit }}<br>
        {% for error in form.ingredient1_unit.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <!-- Abschnitt zur dynamischen Erstellung mehrerer Arbeitsschritte -->
    <h2>Arbeitsschritte</h2>
    <div id="tasks">
        {% for task in form.tasks %}
        <div class="task">
            <p>{{ task.task.label }}<br> {{ task.task }}<br></p>
        </div>
        {% endfor %}
    </div>
    <button type="button" id="add-task">Weiteren Arbeitsschritt hinzufügen</button>
<!--
    <p>
        {{ form.task1.label }}<br>
        {{ form.task1 }}<br>
        {% for error in form.task1.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
-->
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}
