{% extends "base.html" %}

{% block content %}

<h1>Add a new Recipe</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <div id="ingredients">
        {% for ingredient in form.ingredients %}
        <div class="ingredient-item" id="ingredient-{{ loop.index }}">
            <p>
                <!-- Ingredient Name Input -->
                {{ ingredient.name.label }}<br>
                {{ ingredient.name }}<br>
                {% for error in ingredient.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <!-- Ingredient Amount Input -->
                {{ ingredient.amount.label }}<br>
                {{ ingredient.amount }}<br>
                {% for error in ingredient.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <!-- Ingredient Unit Dropdown -->
                {{ ingredient.unit.label }}<br>
                {{ ingredient.unit() }}<br>
                {% for error in ingredient.unit.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
        {% endfor %}
    </div>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}