{% extends "base.html" %}
{% block content %}
    <h1>Hallo {{ current_user.username }}!</h1>
    <h1>Alle Rezepte:</h1>

    <!-- Formular zur Anzeige aller Rezepte  -->
    <form id="recipe-form" method="POST" action="{{ url_for('index') }}">
        <!-- Loop zur Anzeige aller Rezepte -->
        <ul>
        {% for recipe in recipes %}
        <li>
            <input type="checkbox" name="selected_recipes" value="{{ recipe.id }}" id="{{ recipe.id }}">
            <label for="{{ recipe.id }}">
                <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">{{ recipe.name }}</a>
            </label>
        </li><br>
        {% else %}
        <p>Keine Rezepte bis jetzt? <a href="{{ url_for('add_recipe') }}">Hier welche Hinzufügen!</a></p>
        {% endfor %}
        </ul>

        <!-- Buttons für Aktionen -->
        <button type="submit" name="action" value="delete" class="btn btn-danger">Ausgewählte Rezepte löschen</button>
        <button type="submit" name="action" value="export_ingredients" class="btn btn-primary">Zutaten exportieren</button>
        <button type="submit" name="action" value="show_my_recipes" class="btn btn-info">Meine Rezepte anzeigen</button>
    </form>
{% endblock %}
