{% extends "base.html" %}
{% block content %}
    <h1>Rezept: {{ recipe.name }}</h1>

    <!-- Autor anzeigen: -->
    <p>Autor: {{ recipe.author.username }}</p>

    <!-- Alle Zutaten ausgeben -->
    <h2>Zutaten:</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }}</li>
        {% else %}
            <p>Keine Zutaten vorhanden.</p>
        {% endfor %}
    </ul>

    <!-- Alle Arbeitsschritte anzeigen -->
    <h2>Anleitung:</h2>
    <ol>
        {% for instruction in instructions %}
            <li>{{ instruction.tasks }}</li>
        {% else %}
            <p>Keine Anleitung vorhanden.</p>
        {% endfor %}
    </ol>

    <a href="{{ url_for('index') }}">Zurück zur Startseite</a>

    <!-- Export als .txt-File Button -->
    <a href="{{ url_for('export_recipe', recipe_id=recipe.id) }}" class="btn btn-primary">Export als .txt</a>

    <br><br>
    <a href="{{ url_for('index') }}">Zurück zur Startseite</a>
{% endblock %}